<div class="header-container">
  <div class="flex-container flex-justify">
    <div class="text">  
      <a class="heading" href="/">E-commerce Ontology Platform</a>
    </div>
    <%- include('./menu-header-partials.ejs'); %>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact-us">Contact Us</a>
    </li>
  </ul>
</nav>