
    <div class="account">
    <span class="icon material-symbols-outlined head-icon">
      account_circle
    </span>
    
      <a class="header-link" href="http://localhost:8000/viewCart?id=">
        <span class="material-symbols-outlined head-icon">
          shopping_cart
        </span>
      </a>
    
    </div> 
  