
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <%- include('../partials/head'); %>

      <script>
        let routeType = 'action';
        let userTask = 'Submit';
        let dataOutputAssociation = 'local'

        function enterPayment(event){
          const form = document.querySelector('form');
          const data = Object.fromEntries(new FormData(form).entries());
          if(routeType === 'action' && userTask !== 'undefined' &&  dataOutputAssociation === 'local'){
            localStorage.removeItem("Payment");
            localStorage.setItem("Payment", JSON.stringify(data))
            window.location.href = 'http://localhost:8000/reviewOrder';
          }
          return false;
        }

        function checkform(){
          var form = document.forms["form"].elements;
          var cansubmit = true;
          for (let i=0; i <form.length; i++) {
              if (form[i].value.length == 0) cansubmit = false;
          }

          if (cansubmit) {
            document.getElementById('submitbutton').disabled = !cansubmit;
          }
        }
      </script>
    </head>

    <body>
      <header>
        <%- include('../partials/header'); %>
      </header>
      <main>
        <div class="jumbotron">
          <button class='button-back' onclick='history.back()'>
  <span class="material-symbols-outlined back-icon">arrow_back</span> Go Back
  </button>
    <div class='main-container'>
    <div class='quantity-heading'>Enter Payment</div>
    <form name="form" onsubmit="return false">
  
    <br/>
      
    <input id="submitbutton" type="submit" disabled="disabled" onClick="enterPayment(this)" class="form-control btn btn-primary" value="Submit" />
    </form>
    </div>
        </div>
      </main>
      <footer>
        <%- include('../partials/footer'); %>
      </footer>
    </body>
  </html>
