
        <!DOCTYPE html>
        <html lang="en">
          <head>
            <%- include('../partials/head'); %>
          </head>

          <body class="container">
            <header>
              <%- include('../partials/header'); %>
            </header>
            <main>
              <div class="jumbotron">
                <input class="form-control" type="text" placeholder='dateOfBirth' /><br/><input class="form-control" type="text" placeholder='id' /><br/><input class="form-control" type="text" placeholder='name' /><br/>
              </div>
            </main>
            <footer>
              <%- include('../partials/footer'); %>
            </footer>
          </body>
        </html>
      