
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <%- include('../partials/head'); %>
      <script>
        let style = 'primary';
        let title = 'Pharmacy Ontology Platform';
        document.title = title;
        document.getElementById("anchor-heading").innerHTML = title;
      </script>

      <script>
        let routeType = 'action';
        let userTask = 'Submit';
        let dataOutputAssociation = 'local'

        function enterAddress(event){
          const form = document.querySelector('form');
          const data = Object.fromEntries(new FormData(form).entries());
          if(routeType === 'action' && userTask !== 'undefined' &&  dataOutputAssociation === 'local'){
            localStorage.removeItem("Address");
            localStorage.setItem("Address", JSON.stringify(data))
            window.location.href = 'http://localhost:8000/reviewOrder';
          }
          return false;
        }

        function checkform(){
          var form = document.forms["form"].elements;
          var cansubmit = true;
          for (let i=0; i <form.length; i++) {
              if (form[i].value.length == 0) cansubmit = false;
          }

          if (cansubmit) {
            document.getElementById('submitbutton').disabled = !cansubmit;
          }
        }
      </script>
    </head>

    <body>
      <header>
        <%- include('../partials/header'); %>
        <script>
          document.getElementById("anchor-heading").innerHTML = title;
        </script>
      </header>
      <main>
        <div class="jumbotron">
          <button class='button-back' onclick='history.back()'>
    <span class="material-symbols-outlined back-icon">arrow_back</span> Go Back
    </button>
    <div class='main-container'>
    <div class='quantity-heading'>Enter Address</div>
    <form name="form" onsubmit="return false">
  <select onChange="checkform()" class="form-control" name="Country" type="text" placeholder='Select Country'><option disabled selected>Select Country</option><option>Saudi Arabia</option><option>Mongolia</option><option>Indonesia</option><option>Spain</option><option>Ireland</option><option>Turkey</option><option>Libya</option><option>Ethiopia</option><option>Germany</option><option>Norway</option><option>Italy</option><option>Japan</option><option>Thailand</option><option>Austria</option><option>France</option><option>Pakistan</option><option>Switzerland</option><option>Australia</option><option>Egypt</option><option>Lebanon</option><option>Belgium</option><option>Finland</option><option>Nepal</option><option>Bangladesh</option><option>Mauritius</option></select><br/><div class="form-group"><input class="form-control" name="City" type="text" onKeyup="checkform()" placeholder='Enter Your City' required /></div><div class="form-group"><input class="form-control" name="Street Name" type="text" onKeyup="checkform()" placeholder='Enter Your Street Name' required /></div><div class="form-group"><input class="form-control" name="Street Number" type="text" onKeyup="checkform()" placeholder='Enter Your Street Number' required /></div><div class="form-group"><input class="form-control" name="Town" type="text" onKeyup="checkform()" placeholder='Enter Your Town' required /></div>
    <br/>
      
    <input id="submitbutton" type="submit" disabled="disabled" onClick="enterAddress(this)" class="form-control btn btn-primary" value="Submit" />
    </form>
    </div>
        </div>
      </main>
      <footer>
        <%- include('../partials/footer'); %>
      </footer>
    </body>
  </html>
