
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <%- include('../partials/head'); %>

      <script>
        let routeType = 'action';
        let userTask = 'Submit';
        let dataOutputAssociation = 'local'

        function enterAddress(event){
          const form = document.querySelector('form');
          const data = Object.fromEntries(new FormData(form).entries());
          if(routeType === 'action' && userTask !== 'undefined' &&  dataOutputAssociation === 'local'){
            localStorage.removeItem("Address");
            localStorage.setItem("Address", JSON.stringify(data))
            window.location.href = 'http://localhost:8000/enterPayment';
          }
          return false;
        }
      </script>
    </head>

    <body>
      <header>
        <%- include('../partials/header'); %>
      </header>
      <main>
        <div class="jumbotron">
          <button class='button-back' onclick='history.back()'>
  <span class="material-symbols-outlined back-icon">arrow_back</span> Go Back
  </button>
    <div class='main-container'>
    <form onsubmit="return false">
  <div class="form-group"><label for="exampleInputEmail1">City</label><input class="form-control" name="City" type="text" placeholder='Enter Your City' /><small id="emailHelp" class="form-text text-muted">We'll never share your information with anyone else.</small></div><div class="form-group"><input class="form-control" name="Street Number" type="text" placeholder='Enter Your Street Number' /></div><div class="form-group"><input class="form-control" name="Postal Code" type="text" placeholder='Enter Your Postal Code' /></div><div class="form-group"><input class="form-control" name="Town" type="text" placeholder='Enter Your Town' /></div><div class="form-group"><input class="form-control" name="Country" type="text" placeholder='Enter Your Country' /></div><div class="form-group"><input class="form-control" name="Street Name" type="text" placeholder='Enter Your Street Name' /></div>
    <br/>
      
    <input type="submit" onClick="enterAddress(this)" class="form-control btn btn-primary" value="Submit" />
    </form>
    </div>
        </div>
      </main>
      <footer>
        <%- include('../partials/footer'); %>
      </footer>
    </body>
  </html>
