
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <%- include('../partials/head'); %>

      <script>
        let routeType = 'action';
        let userTask = 'Submit';
        let dataOutputAssociation = 'local'

        function enterPayment(){
          if(routeType === 'action' && userTask !== 'undefined' &&  dataOutputAssociation === 'local'){
            window.location.href = 'http://localhost:8000/reviewOrder?id='
          }
        }
      </script>
    </head>

    <body>
      <header>
        <%- include('../partials/header'); %>
      </header>
      <main>
        <div class="jumbotron">
          <button class='button-back' onclick='history.back()'>
  <span class="material-symbols-outlined back-icon">arrow_back</span> Go Back
  </button><div class='main-container'><div class="form-group"><label for="exampleInputEmail1">Name</label><input class="form-control" type="text" placeholder='Enter Your Name' /><small id="emailHelp" class="form-text text-muted">We'll never share your information with anyone else.</small></div><br/><button type="button" onClick="enterPayment()" class="form-control btn btn-primary">Submit</button></div>
        </div>
      </main>
      <footer>
        <%- include('../partials/footer'); %>
      </footer>
    </body>
  </html>
