
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <%- include('../partials/head'); %>

      <script>
        let routeType = 'action';
        let userTask = 'Submit';
        let dataOutputAssociation = 'local'

        function enterPayment(event){
          const form = document.querySelector('form');
          const data = Object.fromEntries(new FormData(form).entries());
          if(routeType === 'action' && userTask !== 'undefined' &&  dataOutputAssociation === 'local'){
            localStorage.removeItem("Payment");
            localStorage.setItem("Payment", JSON.stringify(data))
            window.location.href = 'http://localhost:8000/reviewOrder?id=';
          }
          return false;
        }
      </script>
    </head>

    <body>
      <header>
        <%- include('../partials/header'); %>
      </header>
      <main>
        <div class="jumbotron">
          <button class='button-back' onclick='history.back()'>
  <span class="material-symbols-outlined back-icon">arrow_back</span> Go Back
  </button>
    <div class='main-container'>
    <div class='quantity-heading'>Enter Payment</div>
    <form onsubmit="return false">
  <div class="form-group"><label for="exampleInputEmail1">Name</label><input class="form-control" name="Name" type="text" placeholder='Enter Your Name' required /><small id="emailHelp" class="form-text text-muted">We'll never share your information with anyone else.</small></div><div class="form-group"><label for="exampleInputEmail1">Expiry Date</label><input class="form-control" name="Expiry Date" type="date" placeholder='Enter Your Expiry Date' required /></div><div class="form-group"><input class="form-control" name="Card Number" type="text" placeholder='Enter Your Card Number' required /></div><div class="form-group"><input class="form-control" name="CCV" type="undefined" placeholder='Enter Your CCV' required /></div>
    <br/>
      
    <input type="submit" onClick="enterPayment(this)" class="form-control btn btn-primary" value="Submit" />
    </form>
    </div>
        </div>
      </main>
      <footer>
        <%- include('../partials/footer'); %>
      </footer>
    </body>
  </html>
