
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <%- include('../partials/head'); %>
      </head>

      <body class="container">
        <header>
          <%- include('../partials/header'); %>
        </header>
        <main>
          <div class="jumbotron">
            <div class='main-container'><input class="form-control" type="text" placeholder='Student name'/><br/><select class="form-control" type="text" placeholder='Select academ term'><option>Spring 2021-2022</option><option>Fall 2022 - 2023</option><option>Fall 2021-2022</option><option>Spring 2022-2023</option></select><br/><input class="form-control" type="text" placeholder='Total mark'/><br/><input class="form-control" type="text" placeholder='Obtain mark'/><br/><button type="button" class="form-control btn btn-primary">Submit</button></div>
          </div>
        </main>
        <footer>
          <%- include('../partials/footer'); %>
        </footer>
      </body>
    </html>
  