
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <%- include('../partials/head'); %>
        <script>
          let style = 'primary';
          let title = 'Pharmacy Ontology Platform';
          document.title = title;
          document.getElementById("anchor-heading").innerHTML = title;
        </script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
        
        <script>
          localStorage.removeItem("Credential");
          const ONTOLOGY_ENDPOINT = 'http://localhost:3030/pharmacy/sparql';
          let ontologyKeys = 'Person,Address,Configuration,Gender,Product,Country';
          let ontologyValues = 'http://webprotege.stanford.edu/RBg0AdogX0sRNDdPc5GjXp6,http://webprotege.stanford.edu/RDlV4gG7Vl0GpaHRyvelv6R,http://webprotege.stanford.edu/RCHwYUxMh2cA1tDaO28b9dk,http://webprotege.stanford.edu/RCQ7ez2YO8dPGROWQgEc2CN,http://webprotege.stanford.edu/RDqcs9tPaDFXmvFNMcFK4rd,http://webprotege.stanford.edu/RGj586JZjZpZiOp4gbEdgk';
          ontologyKeys = ontologyKeys.split(",");
          ontologyValues = ontologyValues.split(",");

          let taskName = 'Review Order';
          let taskNameObject = 'order'
          let dataInputSource = 'local';
          let dataOutputSource = 'undefined';
          let routeType = 'order';
          let userTask = 'Post';
          let userTaskEvent = 'post';
          let link = 'undefined';

          function post(flag){
            if(flag){
              fetchData(flag);
            }

            SnackBar({
              message: 'User Action Executed - Post',
              status: "info",
              icon: "plus",
              fixed: true
            });
          }
        </script>

        <%- include('../partials/order-partials'); %>
      </head>

      <body>
        <header>
          <%- include('../partials/header'); %>
          <script>
            document.getElementById("anchor-heading").innerHTML = title;
          </script>
        </header>
        <main>
          <div id="snackbar"></div>
          <div class="jumbotron" id="container">
            <center>
              <div class="loadingio-spinner-spinner-5ok1oyvgq04">
                <div class="ldio-6t9gy4h2dvm">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </center>
          </div>
        </main>
        <footer>
          <%- include('../partials/footer'); %>
        </footer>
      </body>
    </html>
  