
      <!DOCTYPE html>
      <html lang="en">
        <head>
          <%- include('../partials/head'); %>
        </head>
  
        <body class="container">
          <header>
            <%- include('../partials/header'); %>
          </header>
          <main>
            <div class="jumbotron">
              <div class='flex-container'><div class="category-container">
          <div class="image-container" style='background-image: url("https://thumbs.dreamstime.com/b/home-appliances-set-household-kitchen-technics-isolated-white-background-microwave-oven-vacuum-cleaner-iron-blender-113939407.jpg")'></div>
          <div class="category-text">Electronic</div>
        </div><div class="category-container">
          <div class="image-container" style='background-image: url("https://cdn.britannica.com/36/123536-050-95CB0C6E/Variety-fruits-vegetables.jpg")'></div>
          <div class="category-text">Consumables</div>
        </div><div class="category-container">
          <div class="image-container" style='background-image: url("https://thumbs.dreamstime.com/b/household-kitchen-appliances-table-indoors-household-kitchen-appliances-table-against-blurred-background-118742692.jpg")'></div>
          <div class="category-text">Kitchen Utensils</div>
        </div><div class="category-container">
          <div class="image-container" style='background-image: url("https://img.freepik.com/premium-photo/clothes-rail-with-t-shirts_23-2147669592.jpg")'></div>
          <div class="category-text">Clothing</div>
        </div><div class="category-container">
          <div class="image-container" style='background-image: url("https://i5.walmartimages.com/asr/2e806828-88b4-4772-80a0-b528c22d9af4.302544ec26c29f956eae075c71aedd82.jpeg")'></div>
          <div class="category-text">Shampoo</div>
        </div><div class="category-container">
          <div class="image-container" style='background-image: url("https://groupin.pk/wp-content/uploads/2020/06/coca_butter_soap.jpg")'></div>
          <div class="category-text">Soap</div>
        </div><div class="category-container">
          <div class="image-container" style='background-image: url("https://techcabal.com/wp-content/uploads/2016/11/phones.jpg")'></div>
          <div class="category-text">Mobile Phones & Accessories</div>
        </div><div class="category-container">
          <div class="image-container" style='background-image: url("https://kido.pk/wp-content/uploads/2021/05/johnson_s-5-baby-products-in-jar-set-pack.jpg")'></div>
          <div class="category-text">Baby Products</div>
        </div><div class="category-container">
          <div class="image-container" style='background-image: url("https://reviewed-com-res.cloudinary.com/image/fetch/s--0aUiwH7j--/b_white,c_fill,cs_srgb,f_auto,fl_progressive.strip_profile,g_xy_center,h_729,q_auto,w_972,x_2433,y_1387/https://reviewed-production.s3.amazonaws.com/1539109928000/Eco-friendly-detergents-hero.jpg")'></div>
          <div class="category-text">Detergents</div>
        </div><div class="category-container">
          <div class="image-container" style='background-image: url("https://www.glanbianutritionals.com/sites/default/files/paragraphs/image-type/images/2021-07/bowl-of-granola-and-fruit.jpg")'></div>
          <div class="category-text">Breakfast Cereals</div>
        </div><div class="category-container">
          <div class="image-container" style='background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gettyimages-904676768-1654020745.png")'></div>
          <div class="category-text">Perfumes</div>
        </div>
            </div>
          </main>
          <footer>
            <%- include('../partials/footer'); %>
          </footer>
        </body>
      </html>
    