
      <!DOCTYPE html>
      <html lang="en">
        <head>
          <%- include('../partials/head'); %>
        </head>
  
        <body class="container">
          <header>
            <%- include('../partials/header'); %>
          </header>
          <main>
            <div class="jumbotron">
              <div class='flex-container'><div class="category-container">
          <div class="image-container" style='background-image: url("undefined")'></div>
          <div class="category-text">Cosmetics</div>
        </div><div class="category-container">
          <div class="image-container" style='background-image: url("undefined")'></div>
          <div class="category-text">Food</div>
        </div><div class="category-container">
          <div class="image-container" style='background-image: url("undefined")'></div>
          <div class="category-text">Meat</div>
        </div><div class="category-container">
          <div class="image-container" style='background-image: url("undefined")'></div>
          <div class="category-text">Personal Care</div>
        </div><div class="category-container">
          <div class="image-container" style='background-image: url("undefined")'></div>
          <div class="category-text">Accessories</div>
        </div><div class="category-container">
          <div class="image-container" style='background-image: url("undefined")'></div>
          <div class="category-text">Baby Care</div>
        </div><div class="category-container">
          <div class="image-container" style='background-image: url("undefined")'></div>
          <div class="category-text">Electronics</div>
        </div><div class="category-container">
          <div class="image-container" style='background-image: url("undefined")'></div>
          <div class="category-text">Household Supplies</div>
        </div><div class="category-container">
          <div class="image-container" style='background-image: url("undefined")'></div>
          <div class="category-text">Vegetables</div>
        </div><div class="category-container">
          <div class="image-container" style='background-image: url("undefined")'></div>
          <div class="category-text">Beverages</div>
        </div>
            </div>
          </main>
          <footer>
            <%- include('../partials/footer'); %>
          </footer>
        </body>
      </html>
    