
      <!DOCTYPE html>
      <html lang="en">
        <head>
          <script>
            let style = 'warning';
            let title = 'E-commerce Ontology Platform';
            document.title = title;
          </script>
          <%- include('../partials/head'); %>

          <script>
            var images = [];
            function preload() {
                for (var i = 0; i < arguments.length; i++) {
                    images[i] = new Image();
                    images[i].src = preload.arguments[i];
                }
            }
            
            preload(
                "hhttps://media-cldnry.s-nbcnews.com/image/upload/newscms/2023_12/3599096/230320-toothpaste-kb-2x1.jpg",
                "https://hips.hearstapps.com/hmg-prod/images/gettyimages-904676768-1654020745.png",
                "https://roadmap-tech.com/wp-content/uploads/2013/12/AdobeStock_170805293.jpeg"
            )
          </script>
        </head>
  
        <body>
          <header>
            <%- include('../partials/header'); %>
          </header>
          <main>

          <div class="jumbotron">
              <div class='flex-container'><a href='http://localhost:8000/viewProduct?id=Cosmetics'><div class="category-container box">
          <div class="image-container" class="lozad" style='background-image: url("https://www.sgs.com/-/media/sgscorp/images/temporary/cosmetics-1600px.cdn.en-AT.1.jpg")'></div>
          <div class="category-text">Cosmetics</div>
        </div></a><a href='http://localhost:8000/viewProduct?id=Food'><div class="category-container box">
          <div class="image-container" class="lozad" style='background-image: url("https://static01.nyt.com/images/2019/05/15/smarter-living/processed_snacks/processed_snacks-superJumbo-v2.jpg")'></div>
          <div class="category-text">Food</div>
        </div></a><a href='http://localhost:8000/viewProduct?id=Meat'><div class="category-container box">
          <div class="image-container" class="lozad" style='background-image: url("https://images.ctfassets.net/3s5io6mnxfqz/5GlOYuzg0nApcehTPlbJMy/140abddf0f3f93fa16568f4d035cd5e6/AdobeStock_175165460.jpeg")'></div>
          <div class="category-text">Meat</div>
        </div></a><a href='http://localhost:8000/viewProduct?id=Personal Care'><div class="category-container box">
          <div class="image-container" class="lozad" style='background-image: url("https://media-cldnry.s-nbcnews.com/image/upload/newscms/2023_12/3599096/230320-toothpaste-kb-2x1.jpg")'></div>
          <div class="category-text">Personal Care</div>
        </div></a><a href='http://localhost:8000/viewProduct?id=Accessories'><div class="category-container box">
          <div class="image-container" class="lozad" style='background-image: url("https://hips.hearstapps.com/hmg-prod/images/gettyimages-904676768-1654020745.png")'></div>
          <div class="category-text">Accessories</div>
        </div></a><a href='http://localhost:8000/viewProduct?id=Baby Care'><div class="category-container box">
          <div class="image-container" class="lozad" style='background-image: url("https://navbharattimes.indiatimes.com/photo/msid-78359493,imgsize-112059/pic.jpg")'></div>
          <div class="category-text">Baby Care</div>
        </div></a><a href='http://localhost:8000/viewProduct?id=Electronics'><div class="category-container box">
          <div class="image-container" class="lozad" style='background-image: url("https://roadmap-tech.com/wp-content/uploads/2013/12/AdobeStock_170805293.jpeg")'></div>
          <div class="category-text">Electronics</div>
        </div></a><a href='http://localhost:8000/viewProduct?id=Household Supplies'><div class="category-container box">
          <div class="image-container" class="lozad" style='background-image: url("https://cdn.aarp.net/content/dam/aarp/entertainment/beauty-and-style/2020/04/1140-hair-products-on-table.jpg")'></div>
          <div class="category-text">Household Supplies</div>
        </div></a><a href='http://localhost:8000/viewProduct?id=Vegetables'><div class="category-container box">
          <div class="image-container" class="lozad" style='background-image: url("https://assets-global.website-files.com/5d2fb52b76aabef62647ed9a/6195c8e178a99295d45307cb_allgreen1000-550.jpg")'></div>
          <div class="category-text">Vegetables</div>
        </div></a><a href='http://localhost:8000/viewProduct?id=Beverages'><div class="category-container box">
          <div class="image-container" class="lozad" style='background-image: url("https://www.packagingdigest.com/sites/packagingdigest.com/files/AdobeStock_279692163_Editorial_Use_Only-Beverage-FTR-new.jpg")'></div>
          <div class="category-text">Beverages</div>
        </div></a>
            </div>
          </main>
          <footer>
            <%- include('../partials/footer'); %>
          </footer>
        </body>
      </html>
    