
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <%- include('../partials/head'); %>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
        
        <script>
          const ONTOLOGY_ENDPOINT = 'http://localhost:3030/pharmacy/sparql';
          let ontologyKeys = 'Gender,Person,Address,Product,Country';
          let ontologyValues = 'http://webprotege.stanford.edu/RCQ7ez2YO8dPGROWQgEc2CN,http://webprotege.stanford.edu/RBg0AdogX0sRNDdPc5GjXp6,http://webprotege.stanford.edu/RDlV4gG7Vl0GpaHRyvelv6R,http://webprotege.stanford.edu/RDqcs9tPaDFXmvFNMcFK4rd,http://webprotege.stanford.edu/RGj586JZjZpZiOp4gbEdgk';
          ontologyKeys = ontologyKeys.split(",");
          ontologyValues = ontologyValues.split(",");

          let taskName = 'View Cart';
          let taskNameObject = 'cart'
          let dataInputSource = 'local';
          let dataOutputSource = 'undefined';
          let routeType = 'listing';
          let userTask = 'Checkout';
          let userTaskEvent = 'checkout';
          let link = 'http://localhost:8000/enterPerson';
        </script>

        <script>
          function checkout(item, price, picture){
            if(item && price && picture && dataInputSource !== "local" && dataOutputSource === "local"){
              let data = JSON.parse(localStorage.getItem('cart'));
              if(!data){
                data = []
              }
              data.push({ name: item, price: parseInt(price.split(" ")[1]), picture });
              localStorage.setItem('cart', JSON.stringify(data));
  
              SnackBar({
                message: 'User Action Executed - Checkout',
                status: "success",
                icon: "plus",
                fixed: true
              });
            }
            else{ 
              window.location.href = link;
            }
          }

          function removeItem(name){
            let data = JSON.parse(localStorage.getItem('cart'));
            const index = data.map(item => item.name).indexOf(name);

            if(index >= 0){
              data.splice(index, 1);
              localStorage.setItem('cart', JSON.stringify(data));

              SnackBar({
                message: 'User Action Executed - Remove',
                status: "danger",
                icon: "danger",
                fixed: true
              });
              fetchData();
            }
          }
        </script>

        <%- include('../partials/listing-partials'); %>
      </head>

      <body>
        <header>
          <%- include('../partials/header'); %>
        </header>
        <main>
          <div id="snackbar"></div>
          <div class="jumbotron" id="container">
            <center>
              <div class="loadingio-spinner-spinner-5ok1oyvgq04">
                <div class="ldio-6t9gy4h2dvm">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </center>
          </div>
        </main>
        <footer>
          <%- include('../partials/footer'); %>
        </footer>
      </body>
    </html>
  